ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

input {
    padding: 10px;
    font-size: 16px;
}


button {
    padding: 10px;
    font-size: 16px;
}

div {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


#content {
    width: 350px;
    margin-right: 0px;
    margin-left: 400px;
    padding: 10px;
}


#advancedSearch {
    width: 300px;
    position: relative;
}


#search{
    width: 750px;
    height: 40px;
}





img {
    max-width: 100%;
    height: auto;
}



button, input[type=submit] {
     align-items: center;
     background-color: #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: .25rem;
     box-sizing: border-box;
     color: rgba(0, 0, 0, 0.85);
     cursor: pointer;
     display: inline-flex;
     font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin-left: 10px;
     min-height: 3rem;
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     width: 60px;
     height: 60px;
}

button, input[type=submit]:hover {
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65);
}

button #clearAll{
    margin-left: 0px;

}

#searchTitle {
    display: flex;
    align-items: center;
    gap: 5px;
}

#mapid {
    z-index: 5;
}

#mapid.mapPage{
    height: 500px;
}


.search-container-from,.search-container-to, .search-container-wanted  {
    position: relative;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.resultsFrom, .resultsTo, .resultsWanted, .resultsNotWanted {
    width: calc(100% - 130px);
    position: absolute;
    left: 130px;
    top: 100%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}


.resultsFrom ul, .resultsTo ul, .resultsWanted ul, .resultsNotWanted ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.resultsFrom li, .resultsTo li, .resultsWanted li, .resultsNotWanted li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.resultsFrom li:hover, .resultsTo li:hover, .resultsWanted li:hover , .resultsNotWanted li:hover{
    background-color: #f0f0f0;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #ddd;
}

.label-input-wrapper {
    display: flex;
    align-items: center; /* Align label and input vertically */
    margin-bottom: 10px; /* Optional: Space between pairs */
}
.label-input-wrapper label {
    margin-right: 10px; /* Optional: Space between label and input */
    width: 120px;
}

.label-input-wrapper input,
.label-input-wrapper .resultsFrom,
.label-input-wrapper .resultsTo,
.label-input-wrapper .resultsWanted,
.label-input-wrapper .resultsNotWanted {
    box-sizing: border-box;
}


.label-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
.label-input-wrapper label {
    margin-right: 10px;
    width: 120px;
}
.label-input-wrapper input {
    width: calc(100% - 130px);
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}


.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttons-container button {
    margin-right: 10px;
    width: 100px;
}

.navButton{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.navButton:hover {opacity: 1}



body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 750px;
    padding: 20px;
    background-color: #ffe6cd;
}
.button {
    display: inline-block;
    padding: 20px 80px;
    margin: 20px;
    font-size: 18px;
    background-color: #ff8000;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #ff6200;
}

.container {

    text-align: center;
}

body.nav{
    justify-content: center;
    align-items: center;
    display: flex;

}