ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

input {
    padding: 10px;
    font-size: 16px;
}


button {
    padding: 10px;
    font-size: 16px;
}

div {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


#content {
    width: 350px;
    margin-right: 0px;
    margin-left: 400px;
    padding: 10px;
}


#advancedSearch {
    width: 300px;
    position: relative;
}


#search{
    width: 750px;
    height: 40px;
}


body {
    margin-right: auto;
    margin-left: auto;
    width: 750px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    background-color: #ffe6cd;
}


img {
    max-width: 100%;
    height: auto;
}



button, input[type=submit] {
     align-items: center;
     background-color: #FFFFFF;
     border: 1px solid rgba(0, 0, 0, 0.1);
     border-radius: .25rem;
     box-sizing: border-box;
     color: rgba(0, 0, 0, 0.85);
     cursor: pointer;
     display: inline-flex;
     font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 16px;
     font-weight: 600;
     justify-content: center;
     line-height: 1.25;
     margin-left: 10px;
     min-height: 3rem;
     padding: calc(.875rem - 1px) calc(1.5rem - 1px);
     position: relative;
     text-decoration: none;
     transition: all 250ms;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     vertical-align: baseline;
     width: 60px;
     height: 60px;
}

button, input[type=submit]:hover {
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65);
}

button #clearAll{
    margin-left: 0px;

}

#searchTitle {
    display: flex;
    align-items: center;
    gap: 5px;
}

#mapid {
    height: 500px;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.search-container-from,.search-container-to  {
    position: relative;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.resultsFrom, .resultsTo {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
    display: none;
}
.resultsFrom ul, .resultsTo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.resultsFrom li, .resultsTo li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.resultsFrom li:hover, .resultsTo li:hover {
    background-color: #f0f0f0;
}